.curved-section-learn-more {
  box-shadow: 0 5px 60px 10px rgba(140, 101, 219, 0.5);
  border-radius: 80%/200px 200px 0px 0px;
}

@media (max-width: 500px) {
  .curved-section-learn-more {
    border-radius: 0px;
  }
}
